.container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(to bottom, #fff1eb, #ace0f9);
  font-family: Bree Serif;
}
.heading {
  font-size: 50px;
  color: #1e293b;
}
.inp-container {
  border: 1px solid #7b8794;
  padding: 5px;
  padding-top: 3px;
  text-align: center;
  border-radius: 5px;
}
.input {
  outline: none;
  border: none;
  color: #7b8794;
  font-size: 20px;
  font-weight: bold;
  padding: 4px;
  /* padding-top: 3px; */
  background-color: transparent;
  margin-top: 1px;
}
.search-icon {
  height: 29px;
  padding-top: 4px;
}
.tabs {
  display: flex;
  flex-direction: row;
}
.apps {
  width: 70vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
